<div id="<%= dom_id chat %>">
  <p>
    <strong>Uuid:</strong>
    <%= chat.uuid %>
  </p>

  <p>
    <strong>Prompt:</strong>
    <%= chat.prompt %>
  </p>

  <p>
    <strong>Reply:</strong>
    <%= chat.reply %>
  </p>

</div>
