<p>
  <strong>UUID:</strong>
  <%= chat.uuid %>
</p>

<p>
  <strong>Prompt:</strong>
  <%= chat.prompt %>
</p>

<% unless chat.nil? %>
  <p>
    <strong>Reply:</strong>
    <%= chat.reply %>
  </p>
<% end %>