<h1>Chat</h1>

<%= render "form", chat: @chat %>

<% if @chats.any? %>
  <% @chats.each do |chat| %>
    <%= render "chat", chat: chat %>
    <%= render "feedbacks/feedback", feedback: Feedback.new(chat: chat, level: "message") %>
  <% end %>
<% end %>

<div>
  <%= link_to "Back to chats", chats_path %>
</div>
