<h1>Chat</h1>

<%= render "form", chat: @chat %>

<% if @chats.any? %>
  <% @chats.each do |chat| %>
    <article id="<%= dom_id chat %>">
      <%= render "chat", chat: chat %>
      <% unless chat.feedbacks.any? %>
        <h2>Message feedback</h2>
        <%= render "feedbacks/form", feedback: Feedback.new(
                                                chat: chat, 
                                                level: "message", 
                                                uuid: chat.uuid,
                                                version: ENV["MESSAGE_FEEDBACK_VERSION"]) %>
      <% end %>
    </article>
  <% end %>
<% end %>
