<label for="answers_<%= question['id'] %>"> <%= question['title'] %></label><br>

<textarea id="answers_<%= question['id'] %>" 
          name="answers[<%= question['id'] %>]" 
          rows="4" 
          cols="50">
</textarea><br>
